.hero-background {
	/* background: url('/getmedia/b28082d6-9725-4d3a-89cf-0aade8863bbd/drinking-water-hero-lg.aspx') no-repeat center center; */
	background: url('/getmedia/9581caa9-6be8-48d7-b4f5-16898e607193/drinking-water-hero-lg.aspx') no-repeat center center;
}

.infographic-below-graphics {
	display: none !important;
}

.products-grid-btn {
	margin: 0 !important;
}

.services-section {
	display: none !important;
}

.reverse-osmosis-img {
	background: url('/getmedia/090f9efc-0104-470f-9cda-a03904f81a85/reverse-osmosis-left-hand.aspx') no-repeat center center;
	height: 450px !important;
}

.reverse-osmosis {
    background-color: #0083CA;
    color: white;
    padding: 30px 50px;
    font-family: AvenirLT-Black, sans-serif;
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 46px;
}

.reverse-osmosis-container {
    margin: 50px auto;
}

.how-ro-img {
	background: url('/getmedia/3b0abd4a-6e2a-4961-b1bd-22f894e9cd29/how-ro.aspx') no-repeat center center;
}

.under-sink-img {
	background: url('/getmedia/e6989e1d-4441-4d43-93d3-efa2a395e012/under-sink.aspx') no-repeat center center;
}

.above-standard-img {
	background: url('/getmedia/1dcf5ace-3866-45d5-8916-8e188206346b/above-standard.aspx') no-repeat center center;
}

.side-graphic-text-title a {
	color: #0083ca !important;
}

.article-img-right {
	background: url('/getmedia/8aa46977-bd41-4967-83d7-db3bdf90f2a9/what-is-ro.aspx') no-repeat center center;
}

.article1, .miscellaneous-content {
	display: none !important;
}

.products-section-2 {
	display: none;
}

@media screen and (max-width: 768px) {

	.hero-background {
	    margin-bottom: 150px;
	}

	.reverse-osmosis-container {
	    margin-top: -100px;
	    margin-left: -5%;
	    margin-right: -5%;
	}

	.reverse-osmosis {
		font-size: 25px;
		line-height: 36px;
	}

	.left-hand-img {
		height: 0 !important;
	}

	.article2 {
		display: block !important;
	}

	.article2, .hero-background {
	    margin-right: -1.5rem !important;
	}

	.article-block-left {
		left: 5% !important;
		top: 200px !important;
		width: 90% !important;
	}

	.article-img-right {
		height: 300px !important;
		right: 0 !important;
		bottom: 275px!important;

	}

	.form-section {
		margin-top: -100px !important;
	}
}

@media screen and (max-width: 425px) {
	.reverse-osmosis-container {
		margin-top: -30px;
		margin-right: -2rem;
	}

	.infographic-side-graphics {
		margin-top: 130px;
	}

	.products-section {
		margin-top: 40px !important;
	}
}