/* global style correction */

@media screen and (max-width: 1200px) {
    .main-nav li a {
        height: 62px !important;
    }
}
.hero-background {
    background-color: #F0EFF3;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: -.75rem !important;
    margin-top: 0 !important;
}

.hero-eyebrows {
    font-family: Roboto;
    font-size: 16px;
    color: #545454;
    letter-spacing: 2px;
    line-height: 28px;
    padding-bottom: 10px;
}

.hero-title, .form-title {
    font-family: AvenirLT-Black, sans-serif;
    font-size: 52px;
    line-height: 61px;
    color: #08385B;
    letter-spacing: 0;
}

.hero-text, .form-text, .quote-text {
    font-family: AvenirLT-Medium, sans-serif;
    font-size: 26px;
    line-height: 36px;
    color: #545454;
    letter-spacing: 0;
}

.arrow-down {
    position: relative;
    top: 75px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 32.5px 0 32.5px;
    border-color: #f8e61c transparent transparent transparent;
}

.drinking-water-systems-block {
	background: url('/getmedia/55d2da68-e88f-42f8-a5fd-85236dc84f9b/drinking-water-systems.aspx') no-repeat center center;
	height: 650px;
	padding-top: 75px;
	background-size: cover;
	margin-right: -.75rem !important;
}

.whole-house-filtration-block {
	background: url('/getmedia/ca48dad5-bf15-44e2-9534-54ca4eb4358e/whole-house-filtration.aspx') no-repeat center center;
	height: 650px;
	padding-top: 75px;
	background-size: cover;
	margin-left: -.75rem !important;
}

.block-text-container {
	background-color: white;
	padding: 35px !important;
	color: black;
    min-height: 430px;
}

.block-text-title {
    font-size: 26px;
    color: #0083CA;
    font-family: sans-serif;
    line-height: 36px;
}

.block-text {
    font-family: Roboto;
    font-size: 16px;
    color: #545454;
    margin-bottom: 30px;
    line-height: 19px;
}

.block-text-icon {
    width: 40px;
}

.whole-house-filtration-container,
.drinking-water-systems-container {
    min-height: 500px;
}

.learn-more-btn {
    background-color: #B0D235;
    font-size: 16px;
    font-family: Roboto;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.learn-more-btn a {
    color: #fff;
}

.culligan-blog-btn {
    color: #0083CA;
    border: 1px solid #0083ca;
    background: none;
    width: 200px;
    padding: 10px 30px;
    display: inline-block;
}

.culligan-blog-btn a {
    color: #0083ca;
}

.filtration-difference-section {
	margin-bottom: -50px;
}

.filtration-difference-img {
    background: url('/getmedia/31abe07a-b89c-4e53-ac8a-d2030ab91f29/softener-filtration-difference.aspx') no-repeat center center;
    height: 500px;
    background-size: cover;
    margin-top: 100px;
}

.filtration-difference-title {
    font-size: 26px;
    font-family: sans-serif;
    line-height: 36px;
}

.filtration-difference-text {
    background-color: #005795;
    color: #fff;
    padding: 50px 75px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 150px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 19px;
}

.see-more {
    /* margin-top: 20px; */
    /* font-size: 16px; */
    text-decoration: underline;
}

.diy-solutions-block {
	background: url('/getmedia/edf2b77e-bfe4-4686-b0b7-f7646e1dbe3c/diy-solutions.aspx') no-repeat center center;
	height: 650px;
	padding-top: 100px;
	background-size: cover;
	margin-right: -.75rem;
}

.diy-solutions-container {
	background-color: #0083CA;
    padding-top: 80px !important;
    min-height: 400px;
}

.diy-solutions-title,
.diy-solutions-text,
.diy-solutions-btn {
	color: white;
}

.diy-sultions-text, .culligan-blog-text {
	line-height: 130%;
}

.diy-solutions-btn {
    background: none;
    border: 2px solid #fff;
    display: inline-block;
    width: 200px;
    padding: 10px 30px;
}

.diy-solutions-btn a {
    color: #fff;
}

.mobile-text, .arrow {
	display: inline;
    font-size: 18px;
    position: relative;
    bottom: 16px;
}

.mobile-container {
    background-color: #B0D235;
    color: white;
    padding: 20px 5%;
    font-size: 18px;
    margin-right: -.75rem;
}

.culligan-blog-container {
	background-color: #f0eff3;
    padding-top: 0 !important;
}

.culligan-blog-block {
	background-color: #F0EFF3;
	height: 650px;
	padding-top: 100px;
	margin-left: -.75rem;
}

.culligan-blog-img-1 {
	/* background: url('/getmedia/39147e2e-fd10-4350-a48d-ea2cdb9ef697/culligan-blog-1.aspx') no-repeat center center; */
	height: 200px;
	width: 200px;
	/* background-size: cover; */
}

.culligan-blog-img-2 {
	/* background: url('/getmedia/46adfea2-8713-4e52-b85d-ecc29e7fdfa8/culligan-blog-2.aspx') no-repeat center center; */
	height: 200px;
	width: 200px;
	/* background-size: cover; */
}

.culligan-blog-images {
    margin-bottom: 25px;
}

.form-section {
    margin-top: 100px !important;
}

.form-title {
	color: #08385b;
}

.form-wave-icon {
    padding-bottom: 30px;
}

.form-block {}

.form-section .form-control:not(.CaptchaTextBox) {
    height: 62px !important;
}

.form-fine-print {
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
}

.CaptchaTextBox {
    height: 34px !important;
}

.f1-button-container input[type="submit"] {
    height: 78px;
    width: 275px;
    font-size: 18px;
    font-family: AvenirLT-Medium;
    background-color: #005795;
    margin-top: 30px;
}

.free {
	color: #B0D235;
	font-weight: bold;
}

.quote-img {
	text-align: center;
}

.quote-icon {
	width: 60px;
}

/* .quote-text, .quote-attribution {
	font-family: Avenir Medium, sans-serif;
	font-size: 26px;
	margin: 20px 0;
	color: #545454;
    letter-spacing: 0;
    text-align: center;
}

.quote-attribution {
	font-size: 18px;
} */

.quote-section {
    margin-top: 100px !important;
}

.quote-text {
    color: #545454;
    text-align: center;
    line-height: 36px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.quote-attribution {
    font-family: Roboto;
    font-size: 16px;
    color: #545454;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}


/* contact us form */

.contact-us-form-section {
	margin-top: -2.25rem !important;
}

.contact-us-form {
    position: relative;
    /* top: 1117px; */
    width: 300px;
    z-index: 1;
}

.contact-us-form.stuck {
    position: fixed;
    top: 0;
}

.contact-us-form-header {
    background-color: #545454;
    color: white;
    font-size: 22px;
    font-family: AvenirLT-Medium, sans-serif;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.contact-us-form-header h2:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    /* opacity: 0; */
    transition: opacity 0.25s linear;
}

.hey-culligan {
    margin-bottom: 0;
    font-weight: bold;
}

.contact-us-form-content {
    display: none;
    background-color: white;
    border: 1px solid #545454;
    padding: 10px;
    position: absolute;
    top: 44px;
}

.contact-us-form-text {
	padding-top: 15px;
}

.contact-us-form-content.active {
    display: inherit;
}

.contact-us-form-content input {
    /* margin: 15px 0 !important; */
}

.name-field, .zip-field, .captcha-field-1 input {
    margin: 15px 0 !important;
}

.captcha-field-1 {
    margin-top: 0px !important;
}

.zip-field {
    margin-bottom: 0px !important;
}

.contact-us-form-content input.btn {
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    margin-top: 0px !important;
    background-color: #005795;
}

.contact-us-form-content label {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    /* margin: 17px 0 0 0; */
    border: 2px solid #0083ca;
    width: 45%;
    text-align: center;
    color: #0083ca;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.contact-us-form-content label.active-label {
    color: #ffffff;
    background: #0083CA;
}

.contact-field {
	/* display: none; */
}

.active-tabber {
	display: inline-block !important;
}

@media screen and (max-width: 992px) {
	.contact-us-form {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	.hero-eyebrow {
	    letter-spacing: 5px;
	}

	.hero-title {
	    font-size: 40px;
	    line-height: 50px;
	}

	.hero-text, 
	.form-text, 
	.quote-text, 
	.quote-attribution {
	    font-size: 16px;
	}

	.block-text, 
	.learn-more-btn {
		font-size: 18px;
    	line-height: 28px;
	}

	.filtration-difference-text {
	    background-color: white;
	    color: black;
	    width: 90% !important;
	    padding: 25px;
	}

	.drinking-water-systems-block,
	.whole-house-filtration-block {
		height: 200px !important;
	}

	.diy-solutions-block,
	.culligan-blog-block {
		background: none;
		height: 60px;
		padding-top: 0;
	}

	.diy-solutions-container,
	.culligan-blog-container {
		padding: 20px !important;
	}

	.diy-solutions-title,
	.culligan-blog-title {
		margin-bottom: 0 !important;
	}

	.filtration-difference-section {
	    margin-bottom: -150px;
	}

	.filtration-difference-img {
	    margin-top: .75rem;
	}

	.form-section {
		margin-top: 25px !important;
	}

    .whole-house-filtration-block,
    .filtration-difference-img,
    .culligan-blog-container {
        margin-right: -.75rem;
    }

    .block-text-container {
        min-height: 0;
    }

    .hero-background, .form-section {
        padding-left: 5%;
    }

}