/* global style correction */

@media screen and (max-width: 1200px) {
    .main-nav li a {
        height: 62px !important;
    }
}



/* ---- hero section ---- */

.hero-background {
    height: 600px;
    background-size: cover;
}

.hero-section {
    width: 50%;
    padding-left: 12%;
    padding-top: 80px;
}

.hero-eyebrows {
    letter-spacing: 4px;
    padding-bottom: 5px;

    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #545454;
    line-height: 28px;
    /* width: 120%; */
}

.eyebrow-link {
    color: #0083ca;
}

.hero-title,
.form-title {
    font-family: Avenir-Black, sans-serif;
    font-size: 52px;
    color: #08385B;
    line-height: 71px;
    padding-bottom: 10px;
}

.hero-title h1 {
    line-height: 71px;
}

.hero-text,
.form-text,
.quote-text {
    font-family: Avenir-Medium, sans-serif;
    font-size: 26px;
    color: #545454;
    line-height: 36px
}

.hero-text {
    width: 70%;
}

.arrow-down {
    position: absolute;
    top: 840px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 48px 32.5px 0 32.5px;
    border-color: #f8e61c transparent transparent transparent;
}



/* contact us form */

.contact-us-form {
    position: absolute;
    top: 817px;
    width: 300px;
    z-index: 1;
}

.contact-us-form.stuck {
    position: fixed;
    top: 0;
}

.contact-us-form-header {
    background-color: #545454;
    color: white;
    font-size: 22px;
    font-family: Avenir-Black, sans-serif;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.contact-us-form-header h2:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    /* opacity: 0; */
    transition: opacity 0.25s linear;
}

.hey-culligan {
    margin-bottom: 0;
    font-weight: bold;
}

.contact-us-form-content {
    display: none;
    background-color: white;
    border: 1px solid #545454;
    padding: 15px;
}

.contact-us-form-text {
	padding-top: 15px;
}

.contact-us-form-content.active {
    display: inherit;
}

.contact-us-form-content input {
    margin: 15px 0 !important;
}

.contact-us-form-content input.btn {
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    margin-top: 0px !important;
    background-color: #005795;
}

.contact-us-form-content label {
    display: inline-block;
    font-size: 16px;
    line-height: 30px;
    /* margin: 17px 0 0 0; */
    border: 2px solid #0083ca;
    width: 45%;
    text-align: center;
    color: #0083ca;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.contact-us-form-content label.active-label {
    color: #ffffff;
    background: #0083CA;
}

.contact-field {
	/* display: none; */
}

.email-field, .phone-field {
    margin-top: 0 !important;
}

.active-tabber {
	display: inline-block !important;
}

.captcha-field-1 {
    margin-top: -15px;
}

.big-form-captcha .CaptchaTextBox {
    height: 32px !important;
}



/* ---- infographic section ---- */

.infographic-section {
    margin-top: 90px;
}

.infographic-image-left {}

.infographic-side-graphics {}

.infographic-below-graphics {}

.left-hand-img {
    background-size: cover;
    height: 400px;
    width: calc(100% - .75rem);
}

.side-graphic-img-sm {
    background-size: cover;
    height: 90px;
    margin-top: -.75rem;
    margin-bottom: 10px;
}

.side-graphic-text {
    margin-top: -.75rem;
}

.side-graphic-text-title {
    font-family: Roboto-Regular, sans-serif;
    font-size: 16px;
    color: #545454;
    letter-spacing: 2px;
    margin-bottom: 10px;
    /* line-height: 28px; */
    /* letter-spacing: 3px; */
}

.side-graphic-text-text {
    font-family: Roboto-Medium, sans-serif;
    font-size: 16px;
    color: #545454;
    letter-spacing: 0;
    line-height: 120%;
}




/* ---- products section ---- */

.products-section {
    margin-top: 100px !important;
    background: rgba(240, 239, 243, 0.50);
}

.products-grid {
    font-family: Roboto, sans-serif;
    padding: 75px;
}

.products-grid-box {
    border-color: #bbb !important;
    border-bottom: 1px solid;
    border-right: 1px solid;
    padding: 30px;
}

.products-grid-box-right {
    border-right: none;
}

.products-grid-box-bottom {
    border-bottom: none;
}

.products-grid-title {
    font-family: Avenir-Black, sans-serif;
    font-size: 36px;
    color: #09426B;
    line-height: 46px;
}

.products-grid-item-title a, .products-grid-item-title {
    color: #0083CA !important;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.products-grid-item-text {
    font-family: Roboto;
    font-size: 16px;
    color: #000000;
    line-height: 19px;
}

.products-grid-btn {
    padding: 20px;
    background-color: #B0D235;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    color: #000;
    display: block;
}

.products-title {}




/* ---- articles section ---- */

.articles-section {
    margin-top: 100px;
}

.article2 {}

.article-img-left {
    background-size: cover;
    height: 400px;
    position: relative;
    left: 20%;
    z-index: 0;
}

.article-img-right {
    background-size: cover;
    height: 400px;
    position: relative;
    right: 20%;
    z-index: 0;
}

.article-block-right {
    position: relative;
    right: 25%;
    top: 20%;
    background-color: #fff;
    padding: 25px;
}

.article-block-left {
    position: relative;
    left: 25%;
    top: 20%;
    background-color: #fff;
    padding: 25px;
    z-index: 1;
}

.article-title {
    font-family: Avenir-Medium, sans-serif;
    font-size: 26px;
    color: #000000;
    margin-bottom: 0;
    line-height: 36px;
}

.article-text {}

.under-title {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #545454;
    margin-top: 5px;
    line-height: 19px;
    margin-bottom: 25px;
}

.main-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.see-more a {
    color: #0083ca !important;
}



/* services section */

.services-section {
    margin-top: 50px;
}

.services-left {
    background: url('/getmedia/0c10956e-f218-4d77-93cd-584a56e57a66/droplets.aspx') no-repeat center center;
    height: 500px;
    background-size: cover;
    /* width: calc(100%-20px); */
    padding-top: 125px;
}

.tap-into-block {
    background-color: white;
    padding: 60px 25px;
    width: 70%;
    margin-left: 15%;
}

.tap-into-title {
    font-family: Avenir-Black, sans-serif;
    font-size: 36px;
    color: #08385B;
    line-height: 46px;
}

.tap-into-text {
    font-family: Roboto;
    font-size: 16px;
    color: #08385B;
}

.services-middle {
    background-color: #09426B;
    height: 500px;
    margin-left: -1.5rem;
}

.services-right {
    margin: -.75rem;
}

.services-top {
    background-color: #0083CA;
    height: calc(250px - .75rem);
    margin-left: -1.5rem;
}

.services-bottom {
    background-color: #B0D235;
    height: calc(250px - .75rem);
    margin-left: -1.5rem;
}

.salt-delivery-text,
.water-exchange-text,
.top-right-text {
    padding-top: 145px;
    padding-left: 10px;
    font-family: Avenir-Medium, sans-serif;
    font-size: 26px;
    color: #FFFFFF;
}

.salt-delivery-text {
    padding-top: 410px;
    width: 40%;
}



/* ---- form section ---- */

.form-section {
    margin-top: 100px;
}

.form-sidebar {}



.form-title {
    color: #005795;
}

.form-text .free {
    color: #b0d235;
}

.form-wave-icon {
    padding-bottom: 30px;
}

.form-block {}

.form-section .form-control {
    height: 62px;
}

.form-fine-print {
    font-size: 16px;
    line-height: 19px;
    font-family: Roboto, sans-serif;
    padding-bottom: 20px;
}

.f1-button-container input[type="submit"] {
    height: 78px;
    width: 275px;
    font-size: 18px;
    font-family: AvenirLT-Medium;
}

/* quote section */

.quote-section {
    margin-top: 100px;
}

.quote-img {
    text-align: center;
}

.quote-icon {
    width: 60px;
}

.quote-text {
    text-align: center;
    line-height: 36px;
    padding-top: 26px;
}

.quote-attribution {
    font-family: Roboto;
    font-size: 16px;
    color: #545454;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}


@media screen and (max-width:1440px) {
    .hero-section {
        padding-left: 5%;
        width: 55%;
    }
}

@media screen and (max-width: 1170px) {
    .hero-background {
        height: 500px;
    }

    .hero-title {
        font-size: 40px;
        line-height: 48px;
    }

    .hero-title h1 {
        line-height: inherit;
    }

    .form-title {
        font-size: 40px;
    }

    .form-text {
        font-size: 20px;
    }

    .arrow-down {
        top: 740px;
    }

    .contact-us-form {
        top: 716px;
        width: 250px;
    }

    .contact-us-form-header h2:after {
        right: 20px;
    }
}

@media screen and (max-width: 992px) {
    .hero-background {
        height: 400px;
    }
    .arrow-down {
        top: 540px;
    }
    .hero-section {
        width: 55%;
        padding-left: 5%;
        padding-top: 55px;
    }
    .hero-title,
    .form-title {
        font-size: 36px;
        line-height: 48px;
    }

    .hero-text,
    .form-text {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
    }

    .contact-us-form {
        display: none;
    }

    .eyebrow-nonlink {
        display: block;
    }


}

@media screen and (max-width: 768px) {
    .contact-us-form {
        top: 460px;
        width: calc(100% + .75rem);
        z-index: 1;
    }

    .hero-background {
        height: 300px;
    }
    .hero-section {
        width: 50%;
        padding-left: 5%;
        padding-top: 20px;
    }
    .hero-text {
        width: 100%;
    }
    .arrow-down {
        top: 460px;
        z-index: 2;
    }

    .infographic-section {
        margin-top: 0;
        padding-left: 5%;
    }

    .left-hand-img {
        background: none;
        height: 0;
    }

    .side-graphic-text {
        padding: 0 .75rem .75rem .75rem !important;
    }
    .side-graphic-text.first {
        margin-top: 20px;
    }


    .side-graphic-img-sm {
        display: none;
    }

    .articles-section {
        margin-top: 50px;
    }

    .article-img-left {
        left: 0;
        margin-right: -.75rem;
    }

    .article-img-right {
        margin-right: -.75rem;
    }

    .article-block-right {
        right: 0;
        width: 80%;
        margin-left: 10%;
        top: -110px;
    }
    .article2 {
        display: none;
    }

    .products-grid {
        margin-top: 50px;
        margin-right: -.75rem;
    }

    .products-grid-box {
        border-right: none;
        padding-bottom: 25px;
    }

    .products-grid-box-bottom:first-of-type {
        border-color: #979797;
        border-bottom: 2px solid;
    }

    .products-grid-title {
        font-size: 25px;
    }

    .products-grid-item-text span {
        display: none;
    }
    .services-section {
        margin-top: 0;
    }

    .hero-background,
    .softer-life-container,
    .article1.columns>.column,
    .services-section.columns>.column,
    .services-left-col {
        margin-right: -.75rem;
    }

    .services-left {
        margin-left: -.75rem;
        height: 250px;
        padding-top: 45px;
    }

    .tap-into-block {
        padding: 40px 25px;
    }

    .services-middle,
    .services-top,
    .services-bottom {
        height: 50px;
        margin: -1.5rem 0;
        padding: inherit;
        width: 90%;
        margin-left: 5%;
    }

    .services-top {
        display: none;
    }

    .salt-delivery-text,
    .water-exchange-text,
    .top-right-text {
        padding-top: 5px;
        font-family: Roboto;
        font-size: 18px;
    }

    .arrow {
        display: inline;
    }

    .form-section {
        padding-left: 5%;
        padding-right: 5%;
    }

    .quote-section {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 640px) {
    .hero-section {
        width: 100%;
        padding-left: 5%;
        padding-top: 375px;
    }
    .hero-title,
    .form-title {
        font-size: 28px;
        width: 100%;
        padding-right: 0;
    }
    .hero-text,
    .form-text {
        font-size: 16px;
    }
    .infographic-section {
        margin-top: 180px;
    }
}

@media screen and (max-width: 480px) {
    .infographic-section {
        margin-top: 200px;
    }
}

@media screen and (max-width: 320px) {}