.hero-background {
	background: url('/CulliganCom/media/photos/water-testing-kit/WaterTestingKit_header_image.jpg') no-repeat top right;
	background-size: cover;
	background-position: top right;
}
.eyebrow-list{
	list-style-type: none;
	display: flex;
	width: 100%;
	margin: 0;
	padding: 0;
}
.eyebrow-list li{
	list-style-type: none;
    display: inline-block;
}
.eyebrow-list li::after{
	content: "|";
	padding: 0 10px;
}
.eyebrow-list li:last-child::after{
	content: none;
}
.eyebrow-link {
    color: #0083ca;
}
/*===========================Media Queries========================*/
/*Mobile breakpoint*/
@media screen and (max-width: 600px) {
	.hero-background {
		background-image: url('/CulliganCom/media/photos/water-testing-kit/WaterTestingKit_header_image_mobile.jpg');
	}
	.eyebrow-list{
		flex-direction: column;
	}
}
/* Small screen, retina, stuff to override above media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 600px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 600px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 600px),
only screen and (        min-device-pixel-ratio: 2)      and (max-width: 600px),
only screen and (                min-resolution: 192dpi) and (max-width: 600px),
only screen and (                min-resolution: 2dppx)  and (max-width: 600px) {
	.hero-background {
		background-image: url('/CulliganCom/media/photos/water-testing-kit/WaterTestingKit_header_image_mobile_2x.jpg');
	}
}
/*x-large breakpoint*/
@media screen and (min-width: 1100px) {
	.hero-background {
		background-image: url('/CulliganCom/media/photos/water-testing-kit/Water-Testing-Kit_-header-image_long.jpg');
	}
}
/* xLarge screen Retina-specific styles here */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1100px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1100px),
only screen and (                min-resolution: 192dpi) and (min-width: 1100px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1100px){
	.hero-background {
		background-image: url('/CulliganCom/media/photos/water-testing-kit/Water-Testing-Kit_-header-image_long_2x.jpg');
	}
}
/* Large screen Retina-specific styles here */
@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 769px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 769px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 769px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 769px),
only screen and (                min-resolution: 192dpi) and (min-width: 769px),
only screen and (                min-resolution: 2dppx)  and (min-width: 769px){
	.hero-background {
		background-image: url('/CulliganCom/media/photos/water-testing-kit/WaterTestingKit_header_image_2x.jpg');
	}
}
