/* global style correction */
.grid-container{
	max-width: 1170px;
	margin: 0 auto;
}
.grid-band{
	margin-bottom: 100px;
	font-family: AvenirLT-Medium, sans-serif;
	font-size: 16px;
	color: #545454;
}
.button-cta--green{
	display: inline-block;
	padding: 26px 52px;
	background-color: #B0D235;
	border-radius: 4px;
	color: #000000;
	font-size: 18px;
	line-height: 1;
	font-weight: normal;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.hero-background {
	position: relative;
	background-color: #FFFFFF;
	padding-top: 40px;
	padding-bottom: 40px;
	margin-top: 0 !important;
	/* margin-right: 0 !important; */
}
.hero-content{
	position: relative;
}

.hero-eyebrows {
	letter-spacing: 4px;
	padding-bottom: 5px;
	text-transform: uppercase;
	line-height: 28px;
}

.hero-title, .form-title {
	font-family: AvenirLT-Black, sans-serif;
	font-size: 52px;
	line-height: 61px;
	color: #08385B;
	letter-spacing: 0;
}

.hero-text, .form-text, .quote-text {
	font-family: AvenirLT-Medium, sans-serif;
	font-size: 26px;
	line-height: 36px;
	color: #545454;
	letter-spacing: 0;
}

.arrow-down {
	position: absolute;
	bottom: -50px;
	top: auto;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 48px 32.5px 0 32.5px;
	border-color: #f8e61c transparent transparent transparent;
}
/*=======================infographic section====================*/
.infographic-side-graphic, .video-section{
	font-family: AvenirLT-Black, sans-serif;
	letter-spacing: 0;
	color: #545454;
	font-size: 16px;
	line-height: 22px;
}
.infographic-side-heading, .video-section-heading, .how-to-section-heading, .results-section-heading, .results-guide-section-heading{
	font-family: AvenirLT-Black, sans-serif;
    font-size: 36px;
	text-transform: uppercase;
    line-height: 49px;
    color: #005795;
}
/*=======================video section==========================*/
.video-cell {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-cell iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*This definition is very important for authoring environment - without it editable text part won't be clickable once video has been added to it - this is required to give space for author to click in the area to change video embed code*/
.video-cell .EditableTextEdit iframe{
	position: relative;
	height: 90%;
	width: 90%;
}
/* ======================results guide section =======================*/
.results-guide-section{}
	.results-guide-tabs a{
		display:block;
		padding: 24px;
		color: #0083CA;
		font-size: 18px;
		font-weight: normal;
	}
	.results-guide-tabs-content{
	}
	.results-guide-section .content-tabs{
		display: flex;
		flex-wrap: wrap;
		max-width: 700px;
		background: #0083CA;
	}
		.content-tabs > .tab-input{
			position: absolute;
			opacity: 0;
		}
		.content-tabs-label {
			flex-grow: 1;
			text-align: center;
			width: 100%;
			padding: 16px 20px 20px 20px;
			border-top: 4px solid transparent;
			background: #0083CA;
			cursor: pointer;
			font-weight: bold;
			font-size: 18px;
			color: #FFFFFF;
			transition: background 0.1s, color 0.1s;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-weight: normal;
			font-size: 14px;
		}

		.content-tabs-label:hover {
			text-decoration: underline;
		}

		.content-tabs-label:active {
			background: #F7F7F9;
		}

		.tab-input:checked + .content-tabs-label {
			background: #F7F7F9;
			color: #0083CA;
			border-top-color: #F4B144;
		}
		.content-tabs-panel {
			display: none;
			padding: 20px 30px 30px;
			background: #F7F7F9;
		}

		@media (min-width: 600px) {
			.content-tabs-label{
				width: auto;
			}
			.content-tabs-panel {
				order: 99;
				flex-basis: 100%;
			}
		}

		.tab-input:checked + .content-tabs-label + .content-tabs-panel {
			display: block;
		}

/* ======================callout section =======================*/
.callout-section{
	background-color: rgba(240, 240, 240, 0.5);
	padding: 100px 0;
}
/* ======================how to section =======================*/
.how-to-section-list{
	display: flex;
	flex-wrap: wrap;
	font-size: 16px;
}
	.how-to-section-list li{
		font-family: AvenirLT-Black, sans-serif;
		margin-bottom: 20px;
		display: flex;
		flex: 1 0 50%;
	}
		.how-to-section-list li img{
			width: 100px;
			height: 100px;
			margin-right: 20px;
		}
		.how-to-section-list-eyebrow{
			font-family: AvenirLT-Medium, sans-serif;
			display: block;
			letter-spacing: 2px;
			text-transform: uppercase;
		}
/* ======================results section =======================*/
.results-section-lists{
	display: flex;
	justify-content: space-between;
}
.results-section-description p{
	font-size: 26px;
}
/* ======================more info section =======================*/
.more-info-section p{
	font-size: 26px;
	text-align: center;
}
.more-info-section a{
    color: #006cb3;
}
/* ======================contact us form =======================*/
.form-section{
	margin-bottom: 155px;
}
.contact-us-form {
    position: absolute;
    top: 817px;
    width: 300px;
    z-index: 1;
}

.contact-us-form.stuck {
    position: fixed;
    top: 0;
}

.contact-us-form-header {
    background-color: #545454;
    color: white;
    font-size: 22px;
    font-family: AvenirLT-Black, sans-serif;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.contact-us-form-header h2:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 0 9px;
    border-color: #ffffff transparent transparent transparent;
    /* opacity: 0; */
    transition: opacity 0.25s linear;
}

.hey-culligan {
    margin-bottom: 0;
    font-weight: bold;
}

.contact-us-form-content {
    display: none;
    background-color: white;
    border: 1px solid #545454;
    padding: 15px;
}

.contact-us-form-text {
	padding-top: 15px;
}

.contact-us-form-content.active {
    display: inherit;
}

.contact-us-form-content input {
    /* margin: 15px 0 !important; */
}

.name-field, .zip-field, .captcha-field-1 input {
    margin: 15px 0 !important;
}

.captcha-field-1 {
    margin-top: 0px !important;
}

.zip-field {
    margin-bottom: 0px !important;
}

.contact-us-form-content input.btn {
    line-height: 48px;
    width: 100%;
    font-size: 18px;
    margin-top: 0px !important;
    background-color: #005795;
}

.contact-us-form-content label {
    display: inline-block;
    font-size: 13px;
    line-height: 30px;
    /* margin: 17px 0 0 0; */
    border: 2px solid #0083ca;
    width: 45%;
    text-align: center;
    color: #0083ca;
    cursor: pointer;
    position: relative;
    z-index: 3;
}

.contact-us-form-content label.active-label {
    color: #ffffff;
    background: #0083CA;
}

.contact-field {
	/* display: none; */
}

.email-field, .phone-field {
    margin-top: 0 !important;
}

.active-tabber {
	display: inline-block !important;
}

.captcha-field-1 {
    margin-top: -15px;
}

.big-form-captcha .CaptchaTextBox {
    height: 32px !important;
}

/*===========================Media Queries========================*/
/*Tablet landscape*/
@media screen and (max-width: 1200px) {
	.main-nav li a {
		height: 62px !important;
	}
}

/*Tablet portrait breakpoint*/
@media screen and (max-width: 768px) {
	.hero-background {
		/* padding-left: 30px;
		padding-right: 30px; */
	}
}
/*Phone breakpoint*/
@media screen and (max-width: 600px) {
	.hero-background {
		background-size: contain;
		padding-top: 85%;
	}
	.hero-title, .form-title {
		font-size: 40px;
		line-height: 50px;
	}
	.hero-text {
		font-size: 16px;
		line-height: 22px;
	}
	.arrow-down {
		top: -50px;
		bottom: auto;
	}
	.infographic-section{
		display:flex;
		flex-direction: column;
	}
		.infographic-side-heading, .video-section-heading, .how-to-section-heading, .results-section-heading, .results-guide-section-heading{
			font-size: 34px;
		}
		.infographic-side-graphic{
			order: 2;
		}
	.how-to-section-list{
		flex-wrap: nowrap;
		flex-direction: column;
	}
}