.hero-background {
	background: url('/getmedia/c886be6a-e93b-4338-bad6-b36f8c62b448/whole-home-hero-lg.aspx') no-repeat center center;
}

.infographic-section {
    margin-top: 0 !important;
    padding-bottom: 100px !important;
}

.piggy-container {
	text-align: right;
    padding: 0 !important;
}

.piggy {
	width: 60px;
}

.water-delivery-img {
	background: url('/getmedia/92f323e0-0e36-473d-b513-d0447a685051/better-for-you-img.aspx') no-repeat top center;
	padding-top: 75px;
    height: 500px !important;
}

.water-delivery-container {
    background-color: white;
    width: 50%;
    margin: 0px auto;
    padding: 10%;

    display: none;
}

.water-delivery-price {
    color: #0083CA;
    font-size: 72px;
    font-family: 'AvenirLT-Black', sans-serif;
}

.cents {
    font-size: 45px;
    position: relative;
    bottom: 20px;
}

.per-month {
    color: #0083CA;
    font-size: 24px;
    font-family: 'AvenirLT-Black', sans-serif;
    letter-spacing: 1px;
}

.cost-efficient-title {
    font-family: 'AvenirLT-Black', sans-serif;
    color: #09426b;
    font-size: 36px;
    line-height: 46px;
}

.cost-efficient-text {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 15px;
    line-height: 19px;
    margin-right: .75rem;
}

.article-img-left {
    background: url('/getmedia/17265686-8ca9-4730-a31e-824f1d95082e/water-help.aspx') no-repeat center center;
}

.article2, .article1 {
    display: none !important;
}

.article3 {
    margin-top: 50px !important;
    margin-bottom: -75px !important;
}

.quote-icon {
    width: 60px;
}

.first-products-grid {
    /* padding-bottom: 75px !important;
    margin-bottom: 75px !important; */
}

.products-section-2 {
    background-color: #F0EFF3;
}

.services-top {
    background: url('/getmedia/79fc310d-7b05-4cc9-9f6e-e420f2cb8ad4/whole-home-top-right.aspx') no-repeat center center;
    background-size: cover;
}

.salt-delivery-text {
    padding-top: 470px !important;
    width: 55% !important;
}

.form-wave-icon {
    margin-top: 50px;
}

@media screen and (max-width: 1400px) {
	.water-delivery-container {
		width: 60%;
	}

	.water-delivery-img {
		padding-top: 90px;
	}
}

@media screen and (max-width: 992px) {
	.water-delivery-container {
		width: 70%;
		padding: 8%;
	}

	.water-delivery-img {
		padding-top: 100px;
	}
}

@media screen and (max-width: 768px)  {
    .piggy-container {
        display: none !important;
    }

    .articles-section {
        margin-left: 0 !important;
    }
    .water-delivery-img {
        background: url('/getmedia/92f323e0-0e36-473d-b513-d0447a685051/better-for-you-img.aspx') no-repeat top center !important;
        padding-top: 75px;
        height: 250px !important;
        margin-right: -.75rem;
    }

    .left-hand-img {
        width: inherit !important;
    }

    .services-bottom {
        display: none;
    }

    .form-section {
        margin-top: 0 !important;
    }

    .infographic-section {
        padding-left: 0;
    }

    .products-section {
        margin-top: 0 !important;
        margin-right: -.75rem;
    }

    .products-grid {
        margin-top: -100px !important;
    }

    .products-section-2 {
        margin-top: 100px;
    }


    .salt-delivery-text {
        padding-top: 5px !important;
        width: 100% !important;
    }

    .infographic-section {
        padding-left: 0 !important;
    }

    .cost-efficient-title {
        font-size: 26px;
        line-height: 36px;
    }
}

@media screen and (max-width: 640px) {
    .infographic-section {
        margin-top: 200px !important;
    }
}