.header-top-left {
    text-align: right;
}

.header-top-left div {
    display: inline-block;
    padding: 9px 0 0 35px;
    color: #005a9b;
    font-family: 'AvenirLT-Medium';
    font-size: 16px;
    margin-top: 6px;
}

.header-top-left .country-selector {
    position: relative;
    padding-bottom: 15px;
}

.country-selector ul {
    display: none;
    position: absolute;
    top: 39px;
    left: 24px;
    padding-left: 4px;
    padding-right: 4px;
    width: 180px;
    background: white;
    text-align: left;
    padding-bottom: 4px;
    z-index: 2;
}

.country-selector li {
    border-top: 1px solid #d6d5d9;
    padding: 0;
    list-style-type: none;
    height: 46px;
    line-height: 46px;
    padding-left: 8px;
}

.country-selector:hover ul,
.country-selector ul:hover {
    display: block;
}

.header-top {
    background: rgba(240, 239, 243, .5);
    margin-bottom: -46px;
    position: relative;
    z-index: 10;
}

.header-top-left img {
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}

.header-top-left a,
.header-top-left .country-selector span {
    display: inline-block;
    vertical-align: middle;
    color: #005a9b;
}

.header-top-left a i {
    vertical-align: text-top;
    margin-top: -2px;
}

.country-select {
    margin-left: 10px;
}

.banner-section {
    padding-bottom: 50px;
}

.banner-section .columns {
    clear: both;
}

.banner-section-logo {
    text-align: center;
    margin-top: 20px;
}

.home-section {
    background: url('/getmedia/13138340-ea11-4504-81f9-efe1715f1c70/home-section.aspx') no-repeat center right;
}

.office-section {
    background: url('/getmedia/3858e958-6047-471a-9ede-23f401cb0676/office-section.aspx') no-repeat center right;
}

.business-section {
    background: url('/getmedia/97885bdf-71e8-4c71-98b4-481edfe77388/business-section.aspx') no-repeat center right;
}

.industrial-section {
    background: url('/getmedia/a9f69023-6e07-48c8-90e7-77db5f6790cf/industrial-section.aspx') no-repeat center right;
}

.culligan-section {
    padding-top: 200px;
    margin-right: -1.5rem;
    height: 550px;
    background-size: cover;
}

.industrial-section {
    margin-right: inherit;
}

.culligan-section-container {
    background-color: white;
    padding: 30px 25px;
    width: 60%;
    margin-left: 5%;
}

.culligan-section-icon img {
    width: 36px;
    padding-bottom: 15px;
}

.culligan-section-title {
    font-size: 26px;
    line-height: 36px;
    font-family: AvenirLT-Medium;
    color: #0083ca;
    letter-spacing: 0;
    padding-bottom: 10px;
}

.culligan-section-title a {
    color: #0083ca;
}

.culligan-section-container a:hover {
    text-decoration: none;
}

.culligan-section-title:hover {
    color: #09426B;
}

.culligan-section-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #545454;
    line-height: 21px;
}

._footer {
    background: #f0eff3;
    padding: 30px 0 25px 0;
}

.h1-footer-orig {
    margin-left: inherit;
    margin-bottom: 0;
    padding: inherit;
}

.footer-title {
    font-size: 24px;
    font-family: AvenirLT-Black;
}

.footer-list-item {
    font-size: 16px;
    padding: 5px 0;
    font-family: Roboto, sans-serif;
    line-height: 19px;
}

.footer-list-item a {
    color: #0083ca;
}

.subFooter {
    background-color: #f0eff3;
}

.bigWrapper {
    border-top: 2px solid #bbb;
    font-size: 16px;
    font-family: Roboto, sans-serif;
}

.mobile-nav {
    background-color: #0083ca;
    color: white;
    padding: 15px 5%;
}

.mobile-nav a {
    /* display: flex; */
}

.mobile-nav-icon {
    display: inline;
}

.mobile-nav-icon img {
    width: 30px;
}

.mobile-nav-text {
    margin-bottom: 0;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 18px;
    display: inline;
}

.arrow {
    font-size: 24px;
}

.right-side-footer {
    text-align: right;
    float: right;
}

.subFooter {
    font-family: Roboto, sans-serif;
}

.mobile-subfooter {
    padding-bottom: 40px;
    background-color: #f0eff3;
    color: #0083ca;
    font-size: 18px !important;
    display: none;
}

.mobile-subfooter a {
    color: #0083ca;
    font-size: 18px !important;
}

footer.mobile-subfooter div {
    margin-bottom: 25px;
}

.culligan-cares-logo a {
    margin: 0;
    position: relative;
    bottom: 8px;
}

.worldwide-text {
    position: relative;
    bottom: 15px;
}

.mobile-copyright {
    margin-bottom: 15px !important;
}

.mobile-footer-links a {
    margin: 0 5px;
}

.fot-copyright,
.footer-links,
.desktop-culligan-cares,
.desktop-culligan-worldwide,
.desktop-copyright,
footer a {
    color: #0083ca !important;
}

@media screen and (max-width:1400px) {

    .culligan-section-container {
        width: 75%;
    }
    .culligan-section-title {
        font-size: 24px;
    }

    .bigWrapper {
        font-size: 16px !important;
    }

    .fot-copyright,
    .footer-links,
    .desktop-culligan-cares,
    .desktop-culligan-worldwide,
    .desktop-copyright,
    footer a {
        font-size: 16px !important;
        color: #0083ca !important;
    }
}

@media screen and (max-width: 1200px) {
    .bigWrapper {
        margin-left: 0 !important;
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) {

    .home-section,
    .office-section,
    .business-section,
    .industrial-section {
        background-position: top right;
    }

    .culligan-section-container {
        width: inherit;
        margin-left: inherit;
        margin-right: 5%;
        padding: 50px 15px
    }

    .culligan-section-title {
        font-size: 24px;
    }
    .culligan-section-text {
        font-size: 14px;
    }

    .footer-section {
        text-align: center;
    }

    .mobile-subfooter {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .home-section,
    .office-section,
    .business-section,
    .industrial-section {
        height: 300px;
    }

    .banner-section-logo {
        padding-top: 46px;
    }

    .culligan-section {
        padding-top: 250px;
    }

    .work-with-us-list {
        display: none;
    }

    .work-with-us-title {
        cursor: pointer;
    }

    .work-with-us-title:after {
        border-width: 12px 8px 0 8px;
        position: relative;
        border-color: #545454 transparent;
        content: '';
        border-style: solid;
        top: 19px;
        left: 10px;
    }
}